{% extends "base.html" %}
{% load staticfiles %}

{% block before_head %}
    <script type="text/javascript" src="{% static "js/src/angular/angular-1.2.28.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/src/angular-md5/angular-md5-0.1.7.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/src/angular-tree-control/angular-tree-control-0.2.9.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/app.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/viewer_controller.js" %}"></script>
    <script type="text/javascript">
        var cityhall_url = '{{ cityhall_url }}';
    </script>
{%  endblock %}

{% block title %}City Hall Viewer{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/lib/viewer.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/src/angular-tree-control/tree-control-attribute.css" %}" />
{% endblock %}

{% block content %}
    {% verbatim %}
    <div class="test_style2" ng-app="CityHallApp" id="content" ng-controller="CityHallCtrl">
        <form ng-submit="Login()">
            <input type="text" ng-model="user" />&nbsp;<input type="password" ng-model="pass">&nbsp;<input type="submit" value="Login">
        </form>
        <br>
        <br>
        <br>
        <table width="100%">
            <tr class="row_odd">
                <th width="20%" align="left">Environment</th>
                <th width="80%" align="left">Value</th>
            </tr>
            <tr>
                <td><input type="text" ng-model="env">
                    <table>
                        <tr>
                            <td>
                                <form ng-submit="ViewEnv()">
                                    <input type="submit" value="View">
                                </form>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <form ng-submit="CreateEnv()">
                                    <input type="submit" value="Create">
                                </form>
                            </td>
                        </tr>
                    </table>
                <td></td>
            </tr>
            <tr valign="top">
                <td>
                    <div treecontrol class="tree-classic"
                        tree-model="dataForTheTree"
                        options="treeOptions"
                        on-selection="Selected(node, expanded)"
                        selected-node="node1">
                          {{ node.name }}
                    </div>
                </td>
                <td class="value_input" ng-style="UnsavedContent()">
                    <br>
                    &nbsp;<textarea rows="10" cols="80" width="100%" ng-model="selected_value"></textarea>
                    <form ng-submit="Save()">
                        &nbsp;<input type="submit" value="Save">
                    </form>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr style="vertical-align: top">
                <td>
                    <div ng-show="selected_can_create" class="create_form">
                        <form ng-submit="Create()">
                            Name:&nbsp;<input type="text" ng-model="create_name" ng-pattern="/^[^\/'&quot;\t\r\n]+$/"><br>
                            Override:&nbsp;<input type="text" ng-model="create_override" ng-pattern="/^[^\/'&quot;\t\r\n]+$/"><br>
                            <br>
                            <input type="submit" value="Create">
                        </form>
                    </div>
                </td>
                <td>
                    <form ng-submit="GetHistory()">
                        <input type="submit" value="History">
                    </form>
                    <table>
                        <tr class="row_odd">
                            <th width="25%">Date</th>
                            <th width="15%">Author</th>
                            <th width="50%">Value</th>
                            <th width="10%">Protected</th>
                        </tr>
                        <tr ng-repeat="history in selected_history" ng-class="{row_odd: ($index % 2 == 1)}">
                            <td>{{ history.datetime }}</td>
                            <td>{{ history.author }}</td>
                            <td>{{ history.value }}</td>
                            <td>{{ history.protect }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br/>
        <br/>
        {{ token }}
        <br />
        {{ status }}
    </div>
    {% endverbatim %}
{% endblock %}