{% extends "base.html" %}
{% load staticfiles %}

{% block before_head %}
    <script type="text/javascript" src="{% static "js/src/jquery/jquery.min.2.1.4.js" %}"></script>
    <script type="text/javascript" src="{% static "js/src/bootstrap/bootstrap.min.3.3.5.js" %}"></script>
    <script type="text/javascript" src="{% static "js/src/angular/angular-1.2.28.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/src/angular-md5/angular-md5-0.1.7.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/src/angular-tree-control/angular-tree-control-0.2.9.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/src/cityhall/cityhall.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/app.js" %}"></script>
    <script type="text/javascript" src="{% static "js/lib/viewer_controller.js" %}"></script>
    <script type="text/javascript">
        var cityhall_url = '{{ cityhall_url }}';
    </script>
{%  endblock %}

{% block title %}City Hall Viewer{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/src/bootstrap/bootstrap.min.3.3.5.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/lib/viewer.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/src/angular-tree-control/tree-control-attribute.css" %}" />
    <style>
    </style>
{% endblock %}

{% block content %}
    {% verbatim %}
    <div ng-app="CityHallApp" ng-controller="CityHallCtrl">
    <div class="container" id="content" >

        <div class="row">
            <div class="col-sm-7">
                <h3>
                    {% endverbatim %}<img src="{% static "images/lib/city.hall.png" %}">{% verbatim %}
                    City Hall Enterprise Settings
                </h3>
            </div>
            <div class="col-sm-5" style="padding-top: 100px">
                <div ng-show="!loggedIn">
                    <form ng-submit="Login()">
                        <input type="text" ng-model="user" size="12" />&nbsp;<input type="password" ng-model="pass" size="12">&nbsp;<input type="submit" value="Login">
                    </form>
                </div>
                <div ng-show="loggedIn">
                    Logged in as: {{ logged_in_user }}
                </div>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row" ng-show="!loggedIn">
            <h4>Welcome!</h4>
            <p>On this page you'll be able to administer all the settings for your application. From here, you can view the settings for every application in the enterprise, the permissions for all the users/machines, and an audit trail for everything. Please log in at the top; if this is your first time, use "cityhall" with no password, then click the "Users" tab to update the password.</p>
            <p>The intended usage is to have one virtual environment per actual, physical environment. The code should only refer to the path within an environment, and each machine mapped to an environment. Usage of City Hall should be analogous to idiomatic settings files in whichever language is being used, in the sense that it ties a string (here, a path within an environment) to a value. The value in this centralized settings server is in allowing multiple settings to exist side-by-side without any extra work on the part of the programmer.</p>
            <p>For more information about City Hall, please visit <a href="http://digitalborderlands.com/cityhall">our homepage</a>.</p>
        </div>

        <div class="row" ng-show="loggedIn">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li ng-class="{active: view_mode < 10}"><a href ng-click="view_mode = 1">Settings</a></li>
                    <li ng-class="{active: view_mode == 11}"><a href ng-click="view_mode = 11">Environments</a></li>
                    <li ng-class="{active: view_mode == 21}"><a href ng-click="view_mode = 21">Users</a></li>
                    <li ng-class="{active: view_mode == 31}"><a href ng-click="view_mode = 31">Logout/Info</a></li>
                </ul>
                <br>
            </div>
        </div>

        <div class="row" id="settings-top" ng-show="loggedIn && (view_mode < 10)">
            <div class="col-sm-4">
                <p><input ng-model="env_search" ng-change="EnvSearch()"></p>
                <p>
                    <div treecontrol class="tree-classic"
                            tree-model="dataForTheTree"
                            options="treeOptions"
                            on-selection="Selected(node, expanded)"
                            selected-node="node1">
                              {{ node.name }}
                    </div>
                </p>
            </div>

            <div class="col-sm-8">
                <div id="env-value" ng-show="view_mode == 1">
                    <div class="value_input" ng-style="UnsavedContent()">
                        <br>
                        <div class="row">
                            <div class="col-sm-9">
                                &nbsp;<textarea rows="1" cols="70" width="100%" ng-model="selected_value"></textarea>
                            </div>
                            <div class="col-sm-2">
                                <form ng-submit="view_mode = 2"><input type="submit" value="Manage" style="width: 125px;"></form>
                                <p><form ng-submit="GetHistory()"><input type="submit" value="Audit" style="width: 125px;"></form></p>
                                <button ng-click="selected_protected = !selected_protected" style="width: 125px;">{{ protect_button }}</button>
                                <p><form ng-submit="Save()"><input type="submit" value="Save" style="width: 125px;"></form></p>
                            </div>
                        </div>


                    </div>
                </div>

                <div id="env-manage" ng-show="view_mode == 2">
                    <a href ng-click="view_mode = 1">Back</a>
                    <div ng-show="selected_can_create">
                        <h4>Create Child Setting</h4>
                        <form ng-submit="Create()">
                            Name:&nbsp;<input type="text" ng-model="create_name" ng-pattern="/^[^\/'&quot;\t\r\n]+$/">&nbsp;&nbsp;
                            Override:&nbsp;<input type="text" ng-model="create_override" ng-pattern="/^[^\/'&quot;\t\r\n]+$/"><br>
                            <br>
                            <input type="submit" value="Create">
                        </form>
                    </div>
                    <br><br>
                    <div>
                        <h4>Delete Selected Setting</h4>
                        <form ng-submit="Delete()">
                            <input type="submit" value="Delete">
                        </form>
                    </div>
                    <br><br>
                    <div>
                        <h4>Copy Selected Setting</h4>
                            <form ng-submit="MoveKey()">
                                <p>To Environment: <input type="text" ng-model="move_key_env" ng-pattern="/^[^\/'&quot;\t\r\n]+$/"></p>
                                <p><input type="checkbox" ng-model="move_key_sub">Include children&nbsp;&nbsp;&nbsp;<input type="submit" value="Copy"></p>
                            </form>
                    </div>
                </div>

                <div id="env-audit" ng-show="view_mode == 3">
                    <a href ng-click="view_mode = 1">Back</a>
                    <form ng-submit="GetHistory()">
                        <input type="submit" value="Refresh">
                    </form>
                    <table class="table table-striped">
                        <tr>
                            <th width="28%">Date</th>
                            <th width="10%">Author</th>
                            <th width="20%">Type</th>
                            <th width="37%">Value</th>
                            <th width="5%">Public</th>
                        </tr>
                        <tr ng-repeat="history in selected_history">
                            <td class="history_text">{{ history.datetime }}</td>
                            <td class="history_text">{{ history.author }}</td>
                            <td class="history_text">{{ history.type }}</td>
                            <td class="history_text">{{ history.value }}</td>
                            <td class="history_text">{{ history.public }}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <div class="row" id="environments-top" ng-show="view_mode == 11">
            <div>
                <h4>Create Environment</h4>
                <p><form ng-submit="CreateEnv()">
                        <input type="text" ng-model="env" ng-pattern="/^[^\/'&quot;\t\r\n]+$/">
                        &nbsp;&nbsp;
                        <input type="submit" value="Create">
                    </form>
                </p>
                <br><br>
                <form ng-submit="ViewUsers()">
                    View Environment Info&nbsp;<input type="text" ng-model="view_env">&nbsp;<input type="submit" value="View"><br>
                </form>
                <br><br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="50%">User</th>
                            <th width="50%">Permissions</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="user in view_users">
                        <td class="history_text">{{ user.environment }}</td>
                        <td class="history_text">{{ user.rights }}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="users-top" ng-show="view_mode == 21">
            <div>
                <h4>Create User</h4>
                <p><form ng-submit="CreateUser()">
                    <input type="text" ng-model="create_user">&nbsp;<input type="password" ng-model="create_pass1">&nbsp;<input type="password" ng-model="create_pass2">&nbsp;<input type="submit" value="Create">
                </form></p>
            </div>
            <br><br>
            <div>
                <h4>Grant Permissions</h4>
                <p><form ng-submit="GrantUser()">
                    Grant user &nbsp;<input type="text" ng-model="grant_user">&nbsp;rights&nbsp;
                    <select ng-model="grant_rights">
                        <option value="0">No Rights</option>
                        <option value="1">Read</option>
                        <option value="2">Read Protected</option>
                        <option value="3">Write</option>
                        <option value="4">Grant</option>
                        <option value="5">Administrator</option>
                    </select>
                    &nbsp;to&nbsp;<input type="text" ng-model="grant_env">
                    &nbsp;<input type="submit" value="Grant">
                </form></p>
            </div>
            <br><br>
            <div>
                <h4>Delete User</h4>
                <p><form ng-submit="DeleteUser()">
                    <input type="text" ng-model="delete_user">&nbsp;<input type="submit" value="Delete">
                </form></p>
            </div>
            <br><br>
            <div>
                <h4>View User Info</h4>
                <p><form ng-submit="ViewUserInfo()">
                    Information about user:&nbsp<input type="text" ng-model="view_user_name">&nbsp;<input type="submit" value="View">
                </form></p>
                <p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="50%">Environment</th>
                            <th width="50%">Permissions</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="env in view_user_envs">
                        <td class="history_text">{{ env.environment }}</td>
                        <td class="history_text">{{ env.rights }}</td>
                    </tr>
                </table>
            </p>
            </div>
        </div>

        <div id="logout-top" ng-show="view_mode == 31">
            <div>
                <h4>Update Password</h4>
                <p><form ng-submit="UpdatePassword()">
                    <input type="password" ng-model="update_pass1">&nbsp;<input type="password" ng-model="update_pass2">&nbsp;&nbsp;&nbsp;<input type="submit" value="Update">
                </form></p>
            </div>
            <br><br>
            <div class="value_input" ng-style="UnsavedDefaultEnv()">
                <h4>Default Environment</h4>
                <p>Default Environment: {{ prev_default_env || 'not yet set' }}</p>
                <p><form ng-submit="SetDefaultEnv()">
                    <input type="text" ng-model="default_env">&nbsp;<input type="submit" value="Update">
                </form></p>
            </div>
            <br><br>
            <div>
                <h4>Logout</h4>
                <p><form ng-submit="Logout()">
                    Confirm log out: <input type="submit" value="Logout">
                </form></p>
            </div>
            <br><br>
            <p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th width="50%">Environment</th>
                            <th width="50%">Permissions</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="env in logged_in_permissions">
                        <td class="history_text">{{ env.environment }}</td>
                        <td class="history_text">{{ env.rights }}</td>
                    </tr>
                </table>
            </p>
        </div>
    </div>

    <br><br><br><br><br>
    <br><br><br><br><br>
    <footer class="footer"></footer>
    </div>
    {% endverbatim %}
{% endblock %}